@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

:root {
  /* Color */
  --red-soft-color: hsl(14, 88%, 65%);
  --violet-soft-color: hsl(273, 75%, 66%);
  --blue-soft-color: hsl(240, 73%, 65%);
  --blue-grayish-light-color: hsl(240, 5%, 91%);
  --blue-grayish-dark-color: hsl(240, 6%, 50%);
  --blue-grayish-very-dark-color: hsl(237, 12%, 33%);
}

html {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Kumbh Sans', sans-serif;
  background: linear-gradient(to bottom, var(--violet-soft-color), var(--blue-soft-color)) no-repeat;
  width: 100%;
  height: 100%;
  font-size: 14px;
}

img {
  width: 100%;
  height: 100%;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
  width: 88%;
}

li {
  border-bottom: 1px solid #c2c2c2;
  cursor: pointer;
}

li:hover > .faq__title {
  color: var(--red-soft-color);
}

button {
  border-style: none;
  cursor: pointer;
  background-color: transparent;
  position: absolute;
  right: 0;
}

header {
  padding: 70px 0 30px 0;
  font-size: 30px;
  font-weight: 700;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.card {
  display: flex;
  width: 950px;
  height: 500px;
  margin-top: 0;
  border-radius: 20px;
  background-color: white;
  box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.164);
}

.section__img {
  width: 50%;
  overflow: hidden;
}

.section__img > .img__woman {
  display: initial;
  height: 330px;
  width: 443px;
  background-repeat: no-repeat;
  margin-top: 70px;
  margin-right: 0;
  margin-left: -75px;
  margin-bottom: 0;
  /* z-index: 10; */
  position: relative;
}

.section__img > .img__bg {
  display: initial;
  width: 861px;
  height: 840px;
  background-repeat: no-repeat;
  margin-top: -655px;
  margin-left: -500px;
  /* z-index: 5; */
}

.section__img > .img__mobile__bg,
.section__img > .img__mobile__woman {
  display: none;
}

.img__box {
  display: initial;
  position: absolute;
  width: 191px;
  height: 184px;
  background-repeat: no-repeat;
  margin-left: -500px;
  margin-top: 35px;
  z-index: 15;
}

.section__faq {
  width: 50%;
}

.faq__title {
  display: inline-block;
  padding: 15px 0;
  width: 100%;
}

.faq__title.show {
  font-weight: 700;
}

.faq__title.show > .faq__button {
  transform: rotate(180deg);
}

.faq__answer {
  display: none;
  margin: 0;
  padding-bottom: 15px;
}

.faq__answer.show {
  display: block;
  color: var(--blue-grayish-dark-color);
  font-size: 13px;
}

.faq__button {
  transition: transform 300ms ease-in-out;
}

@media screen and (max-width: 768px) {
  body {
    font-size: 13px;
  }

  header {
    padding: 20px 0 20px 0;
    text-align: center;
  }

  ul,
  li {
    width: auto;
  }

  li.show > .faq__answer {
    font-size: 12px;
  }

  .card {
    flex-direction: column;
    width: 320px;
    height: 520px;
  }

  .section__img {
    width: auto;
  }

  .section__img > .img__bg,
  .section__img > .img__woman,
  .img__box {
    display: none;
  }

  .section__img > .img__mobile__bg {
    display: initial;
    width: 200px;
    margin-left: 60px;
    margin-top: -2px;
  }

  .section__img > .img__mobile__woman {
    position: absolute;
    display: block;
    width: 220px;
    height: 170px;
    top: 70px;
    margin-left: 40px;
  }

  .section__faq {
    width: auto;
    padding: 0 25px;
  }
}
